@model IEnumerable<PersonMVC.Models.DemoPersonViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "不要再找某個妹了好不好";
}

<h1>@ViewBag.Title</h1>

@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
@*@Html.ActionLink("Logout", "Logout", null, new { @class = "btn btn-default" })*@
@Html.ActionLink("Logout", "Logout", "TestLogin", new { area = "Admin" }, new { @class = "btn btn-default" })
<br /><br />
<div id="CusPageGridDiv" class="table-responsive">
    <table id="mytable" class="table">
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(name => name.PersonName)
            </th>
            <th>
                @Html.DisplayNameFor(sex => sex.PersonSex)
            </th>
            <th>
                @Html.DisplayNameFor(brday => brday.PersonBirthday)
            </th>
            <th></th>
            <th></th>
        </tr>
        @{int i = 1;}
        @foreach (var item in ViewBag.showList)
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @item.PersonName
                </td>
                <td>
                    @(item.PersonSex == 1 ? "男" : "女")
                </td>
                <td>
                    @(item.PersonBirthday != null ? ((DateTime)item.PersonBirthday).ToString("yyyy/MM/dd") : "")
                </td>
                <td>
                    <a href="@Url.Action("edit", "DemoPerson" , new { id=item.PersonID })">
                        <i class="fa fa-pencil-square-o fa-2x"></i>
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("delete", "DemoPerson" , new { id=item.PersonID })">
                        <i class="fa fa-times fa-2x"></i>
                    </a>
                </td>
            </tr>

            i++;
        }
    </table>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/others")
    <script>
        $(function () {
            $(function () {
                $.get("http://localhost:5705/API/ApiData/", function (data) {
                    console.log(data);
                });
            });
        });
    </script>
}